[user]
	name = Laura Little
	email = laura.nathanson@gmail.com
[alias]
	# View abbreviated SHA, description, and history graph of the latest 20 commits
	l = log --pretty=oneline -n 20 --graph --abbrev-commit

	# View the current working tree status using the short format
	s = status -s

	# Find branches containing commit
	fb = "!f() { git branch -a --contains $1; }; f"

	# Find tags containing commit
	ft = "!f() { git describe --always --contains $1; }; f"

	# Find commits by source code
	fc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"

	# Find commits by commit message
	fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"
[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix
[core]
	#use custom .gitignore file
	excludesfile = /Users/lauralittle/.gitignore

	# Treat spaces before tabs and all kinds of trailing whitespace as an error
	# [default] trailing-space: looks for spaces at the end of a line
	# [default] space-before-tab: looks for spaces before tabs at the beginning of a line
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space

	# Make `git rebase` safer on macOS
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false
	# Enable filesystem cache, to speed things up
	fscache = true
[diff]
	# use Beyond Compare diff and merge tool
	tool = bcomp
[difftool]
	prompt = false
[difftool "bcomp"]
	trustExitCode = true
	cmd = "/usr/local/bin/bcomp" \"$LOCAL\" \"$REMOTE\"
[gui]
	gcwarning = false
[merge]
	# use Beyond Compare diff and merge tool
	tool = bcomp
[mergetool]
	prompt = false
[mergetool "bcomp"]
	trustExitCode = true
	cmd = "/usr/local/bin/bcomp" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"

